.gs-container {
  width: 100%; }
  .gs-container * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: middle; }
  .gs-container .gs-row {
    min-height: 45px; }
    .gs-container .gs-row:before, .gs-container .gs-row:after {
      content: "";
      display: table;
      clear: both; }
    .gs-container .gs-row.gs-row-selected {
      min-height: 45px;
      background-color: #a6a6a6; }
  .gs-container.gs-striped .gs-row:nth-child(even) {
    background-color: #d3d3d3; }
  .gs-container.gs-striped .gs-row:nth-child(odd) {
    background-color: #fff; }
  .gs-container .gs-row:not(.gs-header):not(.gs-footer) {
    border-top: none;
    border-bottom: 1px solid #c3c3c3;
    border-left: none;
    border-right: none; }
    .gs-container .gs-row:not(.gs-header):not(.gs-footer):hover {
      background-color: #a6a6a6; }
  .gs-container .gs-row.gs-header {
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    border-left: none;
    border-right: none;
    background-color: #fff !important; }
  .gs-container .gs-row.gs-footer {
    border-top: none;
    border-bottom: 1px solid #c3c3c3;
    border-left: none;
    border-right: none;
    background-color: #fff !important; }
  .gs-container .gs-col1 {
    float: left;
    min-height: 1px;
    width: 8.3333333333%;
    vertical-align: middle; }
  .gs-container .gs-col2 {
    float: left;
    min-height: 1px;
    width: 16.6666666667%;
    vertical-align: middle; }
  .gs-container .gs-col3 {
    float: left;
    min-height: 1px;
    width: 25%;
    vertical-align: middle; }
  .gs-container .gs-col4 {
    float: left;
    min-height: 1px;
    width: 33.3333333333%;
    vertical-align: middle; }
  .gs-container .gs-col5 {
    float: left;
    min-height: 1px;
    width: 41.6666666667%;
    vertical-align: middle; }
  .gs-container .gs-col6 {
    float: left;
    min-height: 1px;
    width: 50%;
    vertical-align: middle; }
  .gs-container .gs-col7 {
    float: left;
    min-height: 1px;
    width: 58.3333333333%;
    vertical-align: middle; }
  .gs-container .gs-col8 {
    float: left;
    min-height: 1px;
    width: 66.6666666667%;
    vertical-align: middle; }
  .gs-container .gs-col9 {
    float: left;
    min-height: 1px;
    width: 75%;
    vertical-align: middle; }
  .gs-container .gs-col10 {
    float: left;
    min-height: 1px;
    width: 83.3333333333%;
    vertical-align: middle; }
  .gs-container .gs-col11 {
    float: left;
    min-height: 1px;
    width: 91.6666666667%;
    vertical-align: middle; }
  .gs-container .gs-col12 {
    float: left;
    min-height: 1px;
    width: 100%;
    vertical-align: middle; }
  .gs-container .gs-outline {
    outline: 1px solid #c3c3c3; }
  .gs-container .gs-no-decorations {
    background: none;
    border: none; }
    .gs-container .gs-no-decorations:hover {
      background: none; }
  .gs-container .gs-no-animations {
    -webkit-transition: height 0;
    -moz-transition: height 0;
    -ms-transition: height 0;
    -o-transition: height 0;
    transition: height 0; }

/*# sourceMappingURL=grid-system.css.map */
