// Derivado de
// https://github.com/andreporto/grid-system.git

@import 'grid-system-theme.scss';

.gs-container {
  width: 100%;
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: middle;
  }
  font-size: $gs-row-font-size;
  font-weight: normal;
  color: $gs-row-font-color;

  .gs-striped:nth-child(odd):not(.gs-row-selected)
  {
    background-color: $gs-row-odd-background-color;
    &:hover {
      background-color: $gs-row-hover-background-color;
    }
  }
  .gs-striped:nth-child(even):not(.gs-row-selected)
  {
    background-color: $gs-row-even-background-color;
    &:hover {
      background-color: $gs-row-hover-background-color;
    }
  }

  .gs-row {
    color: $gs-row-font-color;

    &:before,
    &:after {
      content:"";
      display: table ;
      clear:both;
    }

    &:not(.gs-header):not(.gs-footer):not(.gs-no-decorations){
      border-top: $gs-row-border-top;
      border-bottom: $gs-row-border-bottom;
      border-left: $gs-row-border-left;
      border-right: $gs-row-border-right;

      &:not(.gs-no-decorations):hover {
        background-color: $gs-row-hover-background-color;
      }
    }

    &.gs-header {
      border-top: $gs-header-border-top;
      border-bottom: $gs-header-border-bottom;
      border-left: $gs-header-border-left;
      border-right: $gs-header-border-right;
      background-color: $gs-header-background-color !important;
      font-size: $gs-header-font-size;
      font-weight: bold;
      color: $gs-header-font-color;
    }

    &.gs-footer {
      border-top: $gs-footer-border-top;
      border-bottom: $gs-footer-border-bottom;
      border-left: $gs-footer-border-left;
      border-right: $gs-footer-border-right;
      background-color: $gs-footer-background-color !important;
    }

    &.gs-row-selected {
        background-color: $gs-row-selected;
        border-bottom: $gs-row-selected-border-bottom !important;
    }

  }

  & .gs-row.gs-no-decorations {
    background: none;
    border: none;
  }

  $gs-col-class-name: gs-col !default;
  @for $i from 1 through $gs-cols-number {
    .#{$gs-col-class-name}#{$i} {
      float: left;
      width: $i/$gs-cols-number * 100%;
      vertical-align: middle;
      min-height: $gs-cols-height;
      padding: $gs-cols-padding;
    }
  }

  // Defining padding-right usage
  $gs-paddingr-class-name: gs-paddingr !default;
  @for $i from 1 through 10 {
    &.#{$gs-paddingr-class-name}#{$i*2}px {
      // Apply for each gs-col*
      $gs-col-class-name: gs-col !default;
      @for $j from 1 through $gs-cols-number {
        .#{$gs-col-class-name}#{$j} {
          padding-right: #{$i*2}px;
        }
      }
    }
  }

  // Defining padding-left usage
  $gs-paddingl-class-name: gs-paddingl !default;
  @for $i from 1 through 10 {
    &.#{$gs-paddingl-class-name}#{$i*2}px {
      // Apply for each gs-col*
      $gs-col-class-name: gs-col !default;
      @for $j from 1 through $gs-cols-number {
        .#{$gs-col-class-name}#{$j} {
          padding-left: #{$i*2}px;
        }
      }
    }
  }

  // Defining padding-top usage
  $gs-paddingt-class-name: gs-paddingt !default;
  @for $i from 1 through 10 {
    &.#{$gs-paddingt-class-name}#{$i*2}px {
      // Apply for each gs-col*
      $gs-col-class-name: gs-col !default;
      @for $j from 1 through $gs-cols-number {
        .#{$gs-col-class-name}#{$j} {
          padding-top: #{$i*2}px;
        }
      }
    }
  }

  // Defining padding-bottom usage
  $gs-paddingb-class-name: gs-paddingb !default;
  @for $i from 1 through 10 {
    &.#{$gs-paddingb-class-name}#{$i*2}px {
      // Apply for each gs-col*
      $gs-col-class-name: gs-col !default;
      @for $j from 1 through $gs-cols-number {
        .#{$gs-col-class-name}#{$j} {
          padding-bottom: #{$i*2}px;
        }
      }
    }
  }

  .gs-no-padding {
    // Apply for each gs-col*
    $gs-col-class-name: gs-col !default;
    @for $j from 1 through $gs-cols-number {
      .#{$gs-col-class-name}#{$j} {
        padding: 0;
      }
    }
  }

  .gs-outline {
      border: $gs-outline-border;
  }

  .gs-no-animations {
    -webkit-transition: height 0;
    -moz-transition: height 0;
    -ms-transition: height 0;
    -o-transition: height 0;
    transition: height 0;
  }

}
