// text-alignment

[align-center], .align-center {
    text-align: center;
}

[align-left], .align-left {
    text-align: left;
}

[align-right], .align-right {
    text-align: right;
}

[align-vertical], .align-vertical {
    display: flex;
    flex-direction: row;
    & > [class^="gs-col"],
    & > [class^=" gs-col"] {
        display: flex;
        align-items: center;
        &.align-center {
            justify-content: center;
        }
        &.align-left {
            justify-content: flex-start;
        }
        &.align-right {
            justify-content: flex-end;
        }
    }
}